In [4]:

import json
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt

from config import api_key

In [5]:

csv_file = "price_per_state.csv"

In [6]:
df = pd.read_csv(csv_file)
df.head()

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price,Date (YYYY/MM)
0,10.51,10.14,8.76,18.96,11.01,18.44,11.18,11.32,10.70,8.18,...,10.12,8.97,7.94,16.90,9.25,8.92,9.29,11.01,7.88,202111
1,10.53,10.57,9.09,19.99,11.05,18.83,10.86,10.92,10.95,8.20,...,9.88,9.02,8.33,17.00,9.46,8.97,9.13,11.04,8.19,202110
2,10.75,11.18,9.49,21.57,11.50,19.62,11.12,11.13,10.96,8.13,...,10.09,9.22,8.89,16.53,9.57,8.82,9.06,11.33,8.28,202109
3,10.96,11.22,9.47,21.35,11.64,17.36,10.43,10.72,11.42,8.57,...,10.09,9.16,8.85,16.21,9.72,8.75,8.83,11.32,7.99,202108
4,10.87,11.48,9.35,20.93,11.61,19.43,10.23,10.64,11.40,8.31,...,10.11,8.82,9.07,16.23,9.59,8.88,8.85,11.41,8.22,202107

In [13]:
heatmap_df = df.iloc[0:121]
heatmap_df

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price,Date (YYYY/MM)
0,10.51,10.14,8.76,18.96,11.01,18.44,11.18,11.32,10.70,8.18,...,10.12,8.97,7.94,16.90,9.25,8.92,9.29,11.01,7.88,202111
1,10.53,10.57,9.09,19.99,11.05,18.83,10.86,10.92,10.95,8.20,...,9.88,9.02,8.33,17.00,9.46,8.97,9.13,11.04,8.19,202110
2,10.75,11.18,9.49,21.57,11.50,19.62,11.12,11.13,10.96,8.13,...,10.09,9.22,8.89,16.53,9.57,8.82,9.06,11.33,8.28,202109
3,10.96,11.22,9.47,21.35,11.64,17.36,10.43,10.72,11.42,8.57,...,10.09,9.16,8.85,16.21,9.72,8.75,8.83,11.32,7.99,202108
4,10.87,11.48,9.35,20.93,11.61,19.43,10.23,10.64,11.40,8.31,...,10.11,8.82,9.07,16.23,9.59,8.88,8.85,11.41,8.22,202107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,8.78,8.81,7.25,12.31,8.91,15.41,10.66,10.14,8.75,6.64,...,8.85,8.31,7.28,14.16,9.12,7.08,8.23,10.09,7.22,201203
117,8.86,8.72,7.19,12.46,8.85,15.54,10.82,10.43,8.92,6.65,...,8.88,8.59,7.31,14.32,9.16,7.09,8.21,10.18,7.15,201202
118,8.80,8.68,7.16,12.74,8.72,15.88,10.78,10.62,8.97,6.69,...,9.10,8.56,7.27,14.17,9.00,7.06,8.12,10.09,6.88,201201
119,9.00,8.73,7.18,12.03,9.02,16.34,10.96,10.53,9.04,6.12,...,9.33,8.61,6.98,13.94,8.96,7.07,8.12,10.12,6.76,201112
120,8.81,8.80,7.24,12.52,9.34,16.35,10.98,10.61,8.96,6.37,...,8.94,8.58,6.82,14.01,8.94,6.95,7.98,10.11,6.83,201111

In [28]:
mean = pd.DataFrame(heatmap_df.mean())
mean = mean.T
mean_df = mean.drop(columns=['Date (YYYY/MM)'])
mean_df

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,SD Price,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price
0,9.553471,10.234959,8.090413,15.877025,9.99876,17.560496,10.835702,10.377769,9.734463,7.849174,...,9.59719,9.416529,8.62314,8.269917,14.978017,9.199504,7.705289,8.456612,10.643802,7.952479

In [47]:
south = ['AL Price','AR Price','DE Price','FL Price','GA Price','KY Price','LA Price','MD Price','MS Price','NC Price','OK Price','SC Price','TN Price','TX Price','VA Price','WV Price']
mid = ['IL Price','IN Price','IA Price','KS Price','MI Price','MN Price','ND Price','OH Price','SD Price','WI Price']
west = ['AZ Price','CO Price','CA Price','ID Price','MT Price','NM Price','NV Price','OR Price','UT Price','WA Price','WY Price']
north = ['CT Price','ME Price','MA Price','MO Price','NE Price','NH Price','NJ Price','NY Price','PA Price','RI Price','VT Price']

In [52]:
south_df = mean_df.loc[:, south]
mid_df = mean_df.loc[:, mid]
west_df = mean_df.loc[:, west]
north_df = mean_df.loc[:, north]