In [1]:
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from config import api_key

In [2]:
state_codes = ['AL','AZ','AR','CA','CO','CT','DE','FL','GA','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

In [3]:
coal_df = pd.DataFrame()

coal_check = True
date = []

for state in state_codes:
    url = f"https://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.COST.COW-{state}-99.M"
    
    response = requests.get(url).json()
    try:
            
        response_data = response['series'][0]['data']
        
        price = []
        
        for x in range(167):
            price.append(response_data[x][1])
            if coal_check == True:
                date.append(response_data[x][0])
                
        coal_check = False
        coal_df[f'{state} Price'] = price  

    except:
        price = []
        for x in range(167):
            price.append(0)
        coal_df[f'{state} Price'] = price 
coal_df['Date (YYYYMM)'] = date

In [4]:
coal_df = coal_df.fillna(0)

coal_df = coal_df.set_index('Date (YYYYMM)')
coal_df.sort_index(ascending=True, inplace=True)
coal_df

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,SD Price,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price
Date (YYYYMM),,,,,,,,,,,,,,,,,,,,,
200801,0.00,0.00,0.00,0.0,0.00,0,0,0.00,0.00,0,...,0,0.00,0.0,0.00,0,0.00,0,0.0,0.00,0.00
200802,0.00,0.00,0.00,0.0,0.00,0,0,0.00,0.00,0,...,0,0.00,0.0,0.00,0,0.00,0,0.0,0.00,0.00
200803,0.00,0.00,0.00,0.0,0.00,0,0,0.00,0.00,0,...,0,0.00,0.0,0.00,0,0.00,0,0.0,0.00,0.00
200804,0.00,0.00,0.00,0.0,0.00,0,0,0.00,0.00,0,...,0,0.00,0.0,0.00,0,0.00,0,0.0,0.00,0.00
200805,0.00,0.00,0.00,0.0,0.00,0,0,0.00,0.00,0,...,0,0.00,0.0,0.00,0,0.00,0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202107,42.06,42.71,0.00,0.0,29.05,0,0,0.00,0.00,0,...,0,0.00,0.0,44.39,0,0.00,0,0.0,37.91,0.00
202108,37.61,42.02,0.00,0.0,29.90,0,0,66.26,0.00,0,...,0,0.00,0.0,44.81,0,0.00,0,0.0,38.56,0.00
202109,0.00,41.70,0.00,0.0,28.99,0,0,73.12,0.00,0,...,0,46.24,0.0,44.19,0,0.00,0,0.0,38.51,0.00
202110,38.48,42.61,0.00,0.0,29.85,0,0,0.00,0.00,0,...,0,0.00,0.0,42.44,0,82.67,0,0.0,36.21,38.26
202111,0.00,45.46,40.93,0.0,29.32,0,0,67.88,55.82,0,...,0,0.00,0.0,43.39,0,0.00,0,0.0,36.82,28.67

In [5]:
petroleum_df = pd.DataFrame()

petroleum_check = True
date = []

for state in state_codes:
    url = f"https://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.COST.PEL-{state}-99.M"

    response = requests.get(url).json()
    try:
            
        response_data = response['series'][0]['data']
        
        price = []
        
        for x in range(167):
            price.append(response_data[x][1])
            if petroleum_check == True:
                date.append(response_data[x][0])

        petroleum_check = False
        petroleum_df[f'{state} Price'] = price  

    except:
        price = []
        for x in range(167):
            price.append(0)
        petroleum_df[f'{state} Price'] = price 
petroleum_df['Date (YYYYMM)'] = date

In [6]:
petroleum_df = petroleum_df.fillna(0)

petroleum_df = petroleum_df.set_index('Date (YYYYMM)')
petroleum_df.sort_index(ascending=True, inplace=True)
petroleum_df

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,SD Price,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price
Date (YYYYMM),,,,,,,,,,,,,,,,,,,,,
200801,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,0.00,0.0,0.00
200802,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,0.00,0.0,0.00
200803,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,0.00,0.0,0.00
200804,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,0.00,0.0,0.00
200805,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202107,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,97.54,0.0,0.00
202108,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,85.49,0,...,0,0.0,0.0,135.05,0,71.45,0.0,94.30,0.0,0.00
202109,0.0,0.0,0.0,0,0.0,0.0,0.0,0.00,0.00,0,...,0,0.0,0.0,0.00,0,0.00,0.0,101.38,0.0,116.75
202110,0.0,0.0,0.0,0,0.0,0.0,0.0,112.19,0.00,0,...,0,105.5,0.0,0.00,0,0.00,0.0,96.34,0.0,0.00
202111,0.0,0.0,0.0,0,0.0,0.0,0.0,108.17,99.86,0,...,0,0.0,0.0,0.00,0,62.60,0.0,0.00,0.0,0.00

In [7]:
natural_gas_df = pd.DataFrame()

natural_gas_check = True
date = []

for state in state_codes:
    url = f"https://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.COST.NG-{state}-99.M"

    response = requests.get(url).json()
    try:
            
        response_data = response['series'][0]['data']
        
        price = []

        for x in range(167):
            price.append(response_data[x][1])
            if natural_gas_check == True:
                date.append(response_data[x][0])

        natural_gas_check = False
        natural_gas_df[f'{state} Price'] = price  

    except:
        price = []
        for x in range(167):
            price.append(0)
        natural_gas_df[f'{state} Price'] = price 
natural_gas_df['Date (YYYYMM)'] = date

In [8]:
natural_gas_df = natural_gas_df.fillna(0)

natural_gas_df = natural_gas_df.set_index('Date (YYYYMM)')
natural_gas_df.sort_index(ascending=True, inplace=True)
natural_gas_df

,AL Price,AZ Price,AR Price,CA Price,CO Price,CT Price,DE Price,FL Price,GA Price,ID Price,...,SD Price,TN Price,TX Price,UT Price,VT Price,VA Price,WA Price,WV Price,WI Price,WY Price
Date (YYYYMM),,,,,,,,,,,,,,,,,,,,,
200801,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0,0.0,0.0,0.00,0.00,0.0
200802,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0,0.0,0.0,0.00,0.00,0.0
200803,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0,0.0,0.0,0.00,0.00,0.0
200804,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0,0.0,0.0,0.00,0.00,0.0
200805,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0,0.0,0.0,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202107,0.0,0.0,3.94,0.0,0.0,3.64,0.0,4.85,4.20,0.0,...,0.0,0.0,3.98,0.0,0,0.0,0.0,0.00,3.54,0.0
202108,0.0,0.0,4.23,0.0,0.0,4.20,0.0,5.12,4.53,0.0,...,0.0,0.0,4.21,0.0,0,0.0,0.0,0.00,0.00,0.0
202109,0.0,0.0,5.20,0.0,0.0,4.58,0.0,5.49,5.44,0.0,...,0.0,0.0,5.03,0.0,0,0.0,0.0,0.00,4.30,0.0
202110,0.0,0.0,5.68,0.0,0.0,5.44,0.0,7.02,6.01,0.0,...,0.0,0.0,5.59,0.0,0,0.0,0.0,5.06,4.70,0.0
202111,0.0,0.0,5.26,0.0,0.0,6.53,0.0,7.33,5.93,0.0,...,0.0,0.0,5.48,0.0,0,0.0,0.0,0.00,0.00,0.0

In [9]:
north = ['CT Price','ME Price','MA Price','MO Price','NE Price','NH Price','NJ Price','NY Price','PA Price','RI Price','VT Price']
west = ['AZ Price','CO Price','CA Price','ID Price','MT Price','NM Price','NV Price','OR Price','UT Price','WA Price','WY Price']
mid = ['IL Price','IN Price','IA Price','KS Price','MI Price','MN Price','ND Price','OH Price','SD Price','WI Price']
south = ['AL Price','AR Price','DE Price','FL Price','GA Price','KY Price','LA Price','MD Price','MS Price','NC Price','OK Price','SC Price','TN Price','TX Price','VA Price','WV Price']

In [10]:
north_coal_df = coal_df[north]
north_coal_df

north_petroleum_df = petroleum_df[north]
north_petroleum_df

north_gas_df = natural_gas_df[north]
north_gas_df

,CT Price,ME Price,MA Price,MO Price,NE Price,NH Price,NJ Price,NY Price,PA Price,RI Price,VT Price
Date (YYYYMM),,,,,,,,,,,
200801,0.00,0.0,0.00,0.00,0.00,0,0.00,0.0,0.0,0.0,0
200802,0.00,0.0,0.00,0.00,0.00,0,0.00,0.0,0.0,0.0,0
200803,0.00,0.0,0.00,0.00,0.00,0,0.00,0.0,0.0,0.0,0
200804,0.00,0.0,0.00,0.00,0.00,0,0.00,0.0,0.0,0.0,0
200805,0.00,0.0,0.00,0.00,0.00,0,0.00,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
202107,3.64,0.0,3.79,3.90,4.56,0,3.37,0.0,0.0,0.0,0
202108,4.20,0.0,4.47,4.12,4.77,0,3.95,0.0,0.0,0.0,0
202109,4.58,0.0,4.61,5.05,6.76,0,4.63,0.0,0.0,0.0,0
202110,5.44,0.0,5.86,5.43,6.89,0,4.82,0.0,0.0,0.0,0
202111,6.53,0.0,7.70,0.00,6.85,0,5.08,0.0,0.0,0.0,0

In [11]:
west_coal_df = coal_df[west]
west_coal_df

west_petroleum_df = petroleum_df[west]
west_petroleum_df

west_gas_df = natural_gas_df[west]
west_gas_df

,AZ Price,CO Price,CA Price,ID Price,MT Price,NM Price,NV Price,OR Price,UT Price,WA Price,WY Price
Date (YYYYMM),,,,,,,,,,,
200801,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0,0.0
200802,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0,0.0
200803,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0,0.0
200804,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0,0.0
200805,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
202107,0.0,0.0,0.0,0.0,0,4.13,4.59,0.0,0.0,0.0,0.0
202108,0.0,0.0,0.0,0.0,0,4.46,4.95,0.0,0.0,0.0,0.0
202109,0.0,0.0,0.0,0.0,0,5.10,5.07,0.0,0.0,0.0,0.0
202110,0.0,0.0,0.0,0.0,0,5.65,6.26,0.0,0.0,0.0,0.0
202111,0.0,0.0,0.0,0.0,0,5.87,6.75,0.0,0.0,0.0,0.0

In [12]:
mid_coal_df = coal_df[mid]
mid_coal_df

mid_petroleum_df = petroleum_df[mid]
mid_petroleum_df

mid_gas_df = natural_gas_df[mid]
mid_gas_df

,IL Price,IN Price,IA Price,KS Price,MI Price,MN Price,ND Price,OH Price,SD Price,WI Price
Date (YYYYMM),,,,,,,,,,
200801,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00
200802,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00
200803,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00
200804,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00
200805,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
202107,0.0,3.91,0.00,4.39,0.00,0.0,7.34,0.0,0.0,3.54
202108,0.0,4.26,0.00,4.67,0.00,0.0,0.00,0.0,0.0,0.00
202109,0.0,5.13,4.14,5.51,0.00,0.0,0.00,0.0,0.0,4.30
202110,0.0,5.62,0.00,6.51,0.00,0.0,0.00,0.0,0.0,4.70
202111,0.0,5.26,4.86,7.34,5.41,0.0,0.00,0.0,0.0,0.00

In [13]:
south_coal_df = coal_df[south]
south_coal_df

south_petroleum_df = petroleum_df[south]
south_petroleum_df

south_gas_df = natural_gas_df[south]
south_gas_df

,AL Price,AR Price,DE Price,FL Price,GA Price,KY Price,LA Price,MD Price,MS Price,NC Price,OK Price,SC Price,TN Price,TX Price,VA Price,WV Price
Date (YYYYMM),,,,,,,,,,,,,,,,
200801,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.00
200802,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.00
200803,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.00
200804,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.00
200805,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202107,0.0,3.94,0.0,4.85,4.20,0.0,4.06,4.02,0.0,3.84,4.24,0.0,0.0,3.98,0.0,0.00
202108,0.0,4.23,0.0,5.12,4.53,0.0,4.29,4.49,0.0,4.24,4.63,0.0,0.0,4.21,0.0,0.00
202109,0.0,5.20,0.0,5.49,5.44,0.0,5.24,5.20,0.0,4.33,5.43,0.0,0.0,5.03,0.0,0.00
202110,0.0,5.68,0.0,7.02,6.01,0.0,5.96,5.59,0.0,5.05,6.04,0.0,0.0,5.59,0.0,5.06
202111,0.0,5.26,0.0,7.33,5.93,0.0,5.71,5.98,0.0,6.34,6.19,0.0,0.0,5.48,0.0,0.00

In [15]:
north_coal_df.to_csv("Production Cost Output/north_coal_df.csv", index=False, header=True)
north_gas_df.to_csv("Production Cost Output/north_gas_df.csv", index=False, header=True)
north_petroleum_df.to_csv("Production Cost Output/north_petroleum_df.csv", index=False, header=True)
west_coal_df.to_csv("Production Cost Output/west_coal_df.csv", index=False, header=True)
west_gas_df.to_csv("Production Cost Output/west_gas_df.csv", index=False, header=True)
west_petroleum_df.to_csv("Production Cost Output/west_petroleum_df.csv", index=False, header=True)
mid_coal_df.to_csv("Production Cost Output/mid_coal_df.csv", index=False, header=True)
mid_gas_df.to_csv("Production Cost Output/mid_gas_df.csv", index=False, header=True)
mid_petroleum_df.to_csv("Production Cost Output/mid_petroleum_df.csv", index=False, header=True)
south_coal_df.to_csv("Production Cost Output/south_coal_df.csv", index=False, header=True)
south_gas_df.to_csv("Production Cost Output/south_gas_df.csv", index=False, header=True)
south_petroleum_df.to_csv("Production Cost Output/south_petroleum_df.csv", index=False, header=True)